project_name      = "cloud-native-capstone"
aws_region        = "us-east-1"
container_image_tag = "latest"
public_subnet_cidrs = {
  "us-east-1a" = "10.0.1.0/24"
  "us-east-1b" = "10.0.2.0/24"
}
allowed_ingress_cidrs = [
  "0.0.0.0/0"
]
